catboost
Faker==18.9.0
feather==0.1.2
feather_format==0.4.1
icecream==2.1.3
ipython==8.18.1
matplotlib==3.6.0
numpy==1.20.2
pandas==1.3.5
scikit_learn==1.3.2
seaborn==0.13.0
snoop==0.4.3
streamlit==1.19.0
tqdm==4.66.1
varname==0.12.2
